flows/Opportunity_Automated_Link_population_to_appropriate_Sales_Target_Record.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_for_Searched_Records</name>
        <label>Check for Searched Records</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No Records Found</defaultConnectorLabel>
        <rules>
            <name>Sales_Target_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sales_Target.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Sales_Target</targetReference>
            </connector>
            <label>Sales Target Records</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity Automated Link population to appropriate Sales Target Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Automated Link population to appropriate Sales Target Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Sales Target record where SalesTargetOwner = Opportunity Sales Rep AND SalesTarget.Active = TRUE</description>
        <name>Sales_Target</name>
        <label>Sales Target</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Searched_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sales_Target__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Set Opportunity.SalesTarget with the found SalesTargetID</description>
        <name>Opportunity_Sales_Target</name>
        <label>Opportunity Sales Target</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>Sales_Target__c</field>
            <value>
                <elementReference>Sales_Target.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Sales_Target</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CloseDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
